
/*========== Forms style==========*/
.forms__container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.input__container {
    position: relative;
    width: 30rem;
    background: red;
    padding: 2.5rem;
    border-radius: 2rem;
}

.input__box form {
    width: 100%;

}

.register__titel {
    font-size: 2em;
    text-align: center;
    color: var(--title-color);
}

.input__box {
    position: relative;
    margin: .5rem 0;
}

.input__box input {
    width: 80%;
    height: 2.5rem;
    background: transparent;
    border: .2rem solid;
    outline: none;
    border-radius: 2rem;
    font-size: 1em;
    color: var(--title-color);
    padding: 0 3%;
}

.input__box label {
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translateY(-20%);
    font-size: 1.5em;
    color: var(--title-color);
    pointer-events: none;
}

.register__button{
    width: 5.5rem;
    height: 1.5rem;
    border-radius: 2rem;
}


/* Kleine Geräte (Handys, 600px und kleiner) */
@media (max-width: 600px) {
    .input__container {
        width: 90%; /* Breite auf 90% des Bildschirms setzen */
        padding: 1.5rem; /* Weniger Padding */
        border-radius: 1rem; /* Kleinere Abrundung */
    }

    .register__titel {
        font-size: 1.5em; /* Kleinere Schriftgröße */
    }

    .input__box input {
        width: 100%; /* Breite auf 100% der Containerbreite setzen */
        height: 2rem; /* Kleinere Höhe */
        font-size: 0.9em; /* Kleinere Schriftgröße */
    }

    .input__box label {
        font-size: 1em; /* Kleinere Schriftgröße */
    }

    .register__button {
        width: 100%; /* Breite auf 100% der Containerbreite setzen */
        height: 2.5rem; /* Größere Höhe für bessere Klickbarkeit auf mobilen Geräten */
        font-size: 1em; /* Schriftgröße anpassen */
    }
}
