
/*========== Product style==========*/
.products__section{
    padding: 5rem;
    box-shadow: 0 -20px 30px 2px rgba(255, 255, 255, 0.1), 0 10px 30px 2px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 49;
}


.product__container {
    row-gap: 7.5rem;
}

.product__data {
    text-align: center;
}

.product__title {
    font-size: var(--h1-font-size);
}

.product__description{
    font-size: var(--h3-font-size);
    padding-bottom: 3.5rem;
}

.product__content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.product__card {
    position: relative;
    width: 15rem;
    background: var(--gradient);
    padding: 9rem .75rem 1.5rem .75rem;
    border-radius: 0 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__image {
    position: absolute;
    width: 150%;
    height: auto;
    top: -30%;
    transition: transform 0.8s ease;
}

.product__title {
    font-size: var(--h2-font-size);
    text-align: center;
}

.product__card:nth-child(odd){
    rotate: -5deg;
}

.product__card:nth-child(eve){
    justify-self: flex-end;
    rotate: 5deg;
}

.product__card:nth-child(1):hover .product__image{
    transform: translateY(-1.5rem) rotate(-10deg);
}

.product__card:nth-child(2):hover .product__image{
    transform: translateY(-1.5rem) rotate(10deg);
}

.product__card:nth-child(3):hover .product__image{
    transform: translateY(1rem) rotate(-5deg);
}

/* Kleine Geräte (Handys, 600px und kleiner) */
@media (max-width: 600px) {
    .product__container {
        row-gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product__data {
        text-align: center;
    }

    .product__title {
        font-size: 3rem; /
    }

    .product__description{
        font-size: var(--h3-font-size);
        padding-bottom: 1rem;
    }

    .product__content {
        flex-direction: column;
        padding-top: 2rem;
    }

    .product__card {
        width: 50vw;
        height: 10vh;
        padding: 6rem .5rem 4rem .5rem;
        border-radius: 1rem;
        margin-bottom: 5rem;
    }

    .product__image {
        width: 150%;
        top: -15%;
    }

    .product__title {
        font-size: var(--h3-font-size);
        text-align: center;
    }

    .product__card .product__title {
        font-size: var(--h3-font-size);
        text-align: center;
        margin-top: 5rem;
    }

}
