
/*========== Product structure==========*/
.product__container {
    row-gap: 7.5rem;
}

.product__data {
    text-align: center;
}

.product__title{
    font-size: var(--h1-font-size);
}

.product__content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.product__card {
    position: relative;
    width: 15rem;
    background: var(--gradient);
    padding: 9rem .75rem 1.5rem .75rem;
    border-radius: 0 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__image {
    position: absolute;
    width: 150%;
    height: auto;
    top: -30%;
}

.product__title {
    font-size: var(--h2-font-size);
    text-align: center;
}


/*========== product motion ==========*/
